# API KEYS

GITHUB_APP_ID = 'xxx'
GITHUB_APP_SECRET = 'xxx'

MS_APP_ID = 'xxx'
MS_APP_SECRET = 'xxx'

FEISHU_WEBHOOK_ADDR = '' #'https://open.feishu.cn/open-apis/bot/v2/hook/...'

# RANDOM BULLSHITS

ADMIN_SESSION_SECRET = 'some_long_random_string'
GLITTER_SSRF_TOKEN = 'some_long_random_string'
ADMIN_2FA_COOKIE = 'some_long_random_string'

# MAIL

MAIL_SERVER_HOST = 'smtp.exmail.qq.com'
MAIL_USERNAME = ''
MAIL_PASSWORD = ''

# DATABASE CONNECTORS

DB_CONNECTOR = 'mysql+pymysql://dev:dev@mysql:3306/dev'
ASYNC_DB_CONNECTOR = 'mysql+aiomysql://dev:dev@mysql:3306/dev'

